section
    h1 Slideshow
    img(src="assets/logo.gif", alt="logo")

section
    h2 Title
    pre.fragment
        code(data-trim, contenteditable).
            $.when(that(), other())
                .done(okay)
                .fail(notOkay);

section 
  section
    h3 References
    ol
      li http://jsfiddle.net/sporritt/QpLJU/10/
      li http://stackoverflow.com/questions/9358475/jsplumb-drag-and-drop-connection-from-all-side-of-a-div
      li http://jsplumbtoolkit.com/doc/connections#programmatic
      li http://jsplumb.tumblr.com/
      li http://blog.emielhollander.nl/getting-started-with-jsplumb/

section
    h2 The End
